body{
    color: white;
    background-color: black;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
}
